# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/restaurant/node_modules
/restaurant/.pnp
/restaurant.pnp.js

# testing
/restaurant/coverage

# production
/restaurant/build

# misc
/restaurant/.DS_Store
/restaurant/.env.local
/restaurant/.env.development.local
/restaurant/.env.test.local
/restaurant/.env.production.local

/restaurant/npm-debug.log*
/restaurant/yarn-debug.log*
/restaurant/yarn-error.log*


# server part
/restaurant_server/venv