@font-face {
    font-family: 'Farsan';
    src: local('Farsan Regular'), local('Farsan-Regular'), url('fonts/Farsanregular.woff2') format('woff2'), url('fonts/Farsanregular.woff') format('woff'), url('fonts/Farsanregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
  

.categories-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.one-category-container {
    display: flex;
    width: fit-content;
    border-radius: 20px;
    margin: 30px;
    padding: 0px 0px 10px 0px;
    background-color: black;
    height: 250px;
    box-shadow: 0px 0px 10px 0px white;
    transition: all ease-in-out 0.2s;

    > a {
        text-decoration: none;
        color: white;
        font-size: 100%;
        font-family: DaysSansBlack;      
    }
}

.one-category-container:hover {
    box-shadow: 0px 0px 20px 5px white,
    inset 0px 0px 1px 3px white;
    transform: scale(107%);
}

.category-capture {
    width: 250px;
    border-radius: 10px;
    padding: 0px 15px;
}





.category-meal-list {
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.meal-container {
    display: grid;
    grid-template-areas: 
    "title price"
    "capture capture"
    "description description"
    ;
    

    justify-items: center;
    align-items: start;
    width: 500px;
    height: fit-content;

    border-radius: 20px;
    margin: 30px;
    padding: 20px 20px 20px 20px;
    
    background-color: black;
    
    box-shadow: 2px 4px 3px 5px black,
    0px 0px 6px 6px white,
    inset 0.1px 1px 5px 0px white;
}

.meal-title {
    grid-area: title;
    /* grid-row-start: auto; */
    padding: 5px 20px;
    margin: 0px 0px 0px 40px;
    justify-self: start;
    width: fit-content;
    height: fit-content;

    /* border: 1px solid white; */
    border-radius: 10px;

    color: white;
    font-size: 100%;
    font-family: DaysSansBlack; 
    
    box-shadow: 0px 0px 10px 1px white,
    inset 0px 0px 10px 1px white;
}

.meal-price {
    grid-area: price;

    padding: 5px 20px;
    margin: 0px;

    width: fit-content;
    height: fit-content;

    color: darkorange;
    font-size: 110%;
    font-family: DaysSansBlack; 
    text-shadow: 1px 1px 20px white;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px white,
    inset 0px 0px 5px white;
}

.meal-capture {
    grid-area: capture;

    width: 350px;
    height: auto;
    
    box-shadow: 0px 0px 4px 4px black,
    0px 0px 10px 4px rgb(255, 255, 255);

    border-radius: 20px;
    margin: 30px 0px 10px;
    
}

.meal-description {
    grid-area: description;
    font-family: Farsan;
    /* width: 450px; */
    height: fit-content;
    min-height: 67px;
    padding: 15px 10px 10px;
    margin: 0px;
    color: white;
    font-size: 130%;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   */
}